<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53672683176-ubkjjchknb59tbo8o3ani43kqr21q97v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53672683176-ubkjjchknb59tbo8o3ani43kqr21q97v</string>
	<key>API_KEY</key>
	<string>AIzaSyAQk7-bmkCPrLAoGRjNwNystaBhHT3L3rI</string>
	<key>GCM_SENDER_ID</key>
	<string>53672683176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.unisa.applefoundationprogram.Healthy-Rush</string>
	<key>PROJECT_ID</key>
	<string>healthy-rush</string>
	<key>STORAGE_BUCKET</key>
	<string>healthy-rush.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53672683176:ios:d27ec30897ee11dc0b049d</string>
</dict>
</plist>